.about{
	h1{
		text-align: center;
		margin: 80px 0px;
		color: #131926;
		font-size: 105px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	img{
		margin: 80px 0px;
	}
	p{
		color: #131926;
		font-size: 25px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}
}