.filter {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 29px;
    border: 2px solid #131926;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #c12023;
      border: none;
      color: white;
    }
    color: #131926;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}
@media (max-width: 740px) {
  .filter{
    padding: 0px 60px;

    a{
      width: 400px;
      border-radius: 0px;
      border: none;
      color: #131926;
    }


    .dropdownContent{
      background-color: #FAFAFA;
    }
  }
}
@media (max-width: 420px){
  .filter{
    padding: 0px 60px;

    a{
      width: 300px;
      border-radius: 0px;
      border: none;
      color: #131926;
    }
    .dropdownContent{
      background-color: #FAFAFA;
    }
  }
}
