.main__contact{
  margin-top: 100px;
	background: #131926;

    h2 {
      padding: 73px 140px;
      color: #fafafa;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    form {
      padding: 0px 140px;
      display: flex;
      gap: 40px;
      align-items: center;

      input {
        width: 360px;
        padding-bottom: 22px;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fafafa;

        color: #b7b8bc;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      button {
        width: 364px;
        height: 58px;
        background-color: #df2528;
        border-radius: 29px;
        border: none;
        cursor: pointer;

        color: #fafafa;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
    }
    b {
      color: #df2528;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
}

@media (max-width: 1000px){
  .main__contact{
    h2{
      padding: 70px 30px;
    }
    form{
      padding: 0px 30px;

      input{
        width: 260px;
      }
      button{
        width: 300px;

        font-size: 16px;
      }
    }
  }
}
@media (max-width: 740px){
  .main__contact{
    h2{
      text-align: center;
      font-size: 40px;
    }
    form{
      display: flex;
      flex-direction: column;

      input{
        width: 100%;
      }
      button{
        width: 100%;
      }
    }
    b{
      font-size: 40px;
    }
  }
}
@media (max-width: 520px){
  .main__contact{
    h2{
      font-size: 30px;
    }
    b{
      font-size: 30px;
    }
  }
}
@media (max-width: 420px){
  .main__contact{
    h2{
      font-size: 25px;
    }
    b{
      font-size: 25px;
    }
  }
}