.main__location{
	h2{
      margin-top: 150px;
      text-align: center;
      color: #131926;
      font-size: 100px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
}