.main__contact{
	background: #131926;

    h2 {
      padding: 73px 140px;
      color: #fafafa;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    form {
      padding: 0px 140px;
      display: flex;
      gap: 40px;
      align-items: center;

      input {
        width: 360px;
        padding-bottom: 22px;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #fafafa;

        color: #b7b8bc;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      button {
        width: 364px;
        height: 58px;
        background-color: #df2528;
        border-radius: 29px;
        border: none;

        color: #fafafa;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
    }
    b {
      color: #df2528;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
}