* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background-color: #fafafa;
  font-family: "Questrial", sans-serif;
}
a.active {
  color: white;
  border: none;
  background-color: red;
}
